<!DOCTYPE html>
<html>
<head>
  <title>Scottish Animal Shelter</title>

  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<main>
  <nav>
    <ul>
      <li><a href="/animals">All Our Animals</a></li>
       </ul>
  </nav>
  <section class="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>

