<!DOCTYPE html>
<html>
<head>
  <title>Scottish Animal Shelter</title>

  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<main>
  <nav>

  </nav>
  <section class="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>