<!DOCTYPE html>
<html>
<head>
  <title>Scottish Animal Shelter</title>

  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <main>
    <h1 class="banner">Scottish Animal Shelter</h1>
      <nav class="nav">
        <ul>
          <li class="link"><a href="/animals">Our Animals</a></li>
          <li class="link"><a href="/owners">Our Owners</a></li>
          <li class="link"><a href="/adoptions">Our Adoptions</a></li>
        </ul>
      </nav>
    <section class="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>