<!DOCTYPE html>
<html>
<head>
  <title>Scottish Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
</head>
<body>
  <main>
    <div class="banner">
      <img src="/images/logo.jpg" alt="animal pic">
      <h1 class="banner_text">Scottish Animal Shelter</h1>
    </div>
      <nav class="nav">
        <ul>
          <li class="link"><a href="/animals">Our Animals</a></li>
          <li class="link"><a href="/owners">Our Owners</a></li>
          <li class="link"><a href="/adoptions">Our Adoptions</a></li>
        </ul>
      </nav>
    <section class="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>