
h1, h3, p {font-family: "Arial Black", Gadget, sans-serif;}

a {color: black;}

a:hover {color: blue;}

/*background*/
body {
  background-image: url("/images/grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*banner*/
.banner {
  text-align: center;
  border: 6px black;
  border-style: double;
  margin: 10px;
  padding: 10px;
  background-color: white;
  width: 95%;
  display: inline-block;
}

.banner_text {
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
}

.banner img {
  float: left;
  height: 77px;
  width: 102px;
  margin: none;
  border: none;
}

/*links*/
.links {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 12px;
  padding-left: 0px;
}

.link {
  display: inline;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px 0px 10px 10px;
  padding: 10px;
  background-color: white;
  text-align: center;
  font-size: 12px;
}


/*photos*/
img {
  height:150px;
  width:200px;
  padding:1px;
  border:1px solid black;
}

/*navigation*/

.nav {
  font-family: "Arial Black", Gadget, sans-serif;
  padding-left: 0px;
}

ul {
  padding-left: 0px;
}


/*page title*/
.page_title {
  text-align: center;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  background-color: white;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

/*animal block*/
.animal {
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  height: 350px;
  width: 240px;
}

/*animal detail*/
.animal_detail {
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}


/*owner block*/
.owner {
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  height: 160px;
  width: 18%;
}

.title {
  text-decoration: underline;
}

/*owner detail block*/
.owner_detail {
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

/*adoption block*/
.adoption {
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  height: 350px;
  width: 18%;
}

/*form*/
.form {
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.status {
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border: 2px solid gray;
  color: gray;
  border-radius: 4px;
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
