<h1 class="page_title">Our Owners</h1>

<div class="links">
  <p class="link"><a href="/owners/new">Add new owner</a></p>
</div>

<% for owner in @owners %>
  <div class = 'owner'> 
    <p><%= owner.first_name %> <%= owner.last_name %></p>
    <p><%= owner.address_2 %> 
    <p><a href="/owners/<%= owner.id %>">Show details</a></p> 
  </div>
<% end %>