<h1>Add New Owner Details</h1>

<form action="/owners" method="post">
  <label>
  First Name:
  <input type="text" name="first_name">
  </label>

  <label>
  Last name:
  <input type="text" name="last_name">
  </label>

  <label>
  Address 1:
  <input type="text" name="address_1">
  </label>

  <label>
  Address 2:
  <input type="text" name="address_2">
  </label>

  <label>
  Address 3:
  <input type="text" name="address_3">
  </label>

  <input type="submit" value="Add Owner"> 

</form>