<h1 class="page_title">Add New Owner</h1>

<form class="form" action="/owners" method="post">
  <p><label>
    First Name:
    <input type="text" name="first_name">
  </label></p>

  <p><label>
    Last name:
    <input type="text" name="last_name">
  </label></p>

  <p><label>
    Address 1:
    <input type="text" name="address_1">
  </label></p>

  <p><label>
    Address 2:
    <input type="text" name="address_2">
  </label></p>

  <p><label>
    Address 3:
    <input type="text" name="address_3">
  </label></p>

  <p><input class="link" type="submit" value="Add Owner"></p>

</form>